:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #333333;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --white:#ffffff;
  --black:#333333;
  --blue:#37BBED;
  --gray:#f3f3f3;
  --red:#e53232;
}
*{
  margin: 0;
  padding: 0;
}

/* ENCABEZADO */
.encabezado{
  width: 100%;
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
}
.logo_ministerio{
  max-height: 8vh;
  padding: .5rem;
  align-self: center;
}
.nombreLog{
  font-size: 16px;
  font-weight: 500;
  align-self: center;
  padding-right: 3vw;
  text-decoration: none;
  color: var(--black);
}

/* INICIO */
.cont-btns-inicio{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  justify-content: center;
  height: 80vh;
}
.fondo-inicio{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  width: fit-content;
  padding: 2rem;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.btn-inicio{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--blue);
  color: var(--black);
  padding: .7rem;
  border-radius: 7px;
  border: var(--blue) 3px solid;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  transition: .4s;
  text-decoration: none;
  text-align: center;
}
.btn-inicio:hover{
  background-color: #37bced7b;
  transition: .4s;
}
.btn-crear-cuenta{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--white);
  color: var(--black);
  padding: .7rem;
  border-radius: 7px;
  border: var(--blue) 3px solid;
  width: 19.5vw;
  font-size: 16px;
  font-weight: 600 !important;
  transition: .4s;
  text-decoration: none;
  text-align: center;
}
.btn-crear-cuenta:hover{
  background-color: #37bced7b;
  transition: .4s;
}
.input-inicio{
  padding: .7rem;
  width: 20vw;
}
.ver-contrasena{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  background-color: var(--gray) ;
  color:var(--black);
  border: none;
  border-radius: 5px;
}
.ojo>svg{
  cursor: pointer;
  font-size: 1.1rem;
  align-self: center;
}
.ojo>svg>path{
  transition: .4s;
}
.ojo:hover >svg>path{
  color: #8b8b8b;
  transition: .4s ;
}
.soyAdministrador{
  color: var(--black);
  transition: .3s;
}
.soyAdministrador:hover{
  color: var(--blue);
  transition: .3s;
}

/* FORMULARIO */
.contenedor-formulario{
  display: flex;
  justify-content: center;
}
form{
  padding: 35px;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 33px;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin: 5vh 0;
}
.label{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input-barrio{
  width: 100%;
}
input, select{
  font-size: 16px;
  background-color: var(--gray) ;
  color:var(--black);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input:focus, select:focus {
  outline: none !important;
}
.input-form{
  padding: .4rem;
}
.input_mediano{
  width: 31%;
}
.input_grande{
  width: 48%;
}
::-webkit-calendar-picker-indicator {
  filter: invert(70%);
}
.contenedor-nombre, .contenedor-celMail{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
.contenedor-domicilio{
  display: flex;
  gap: 1rem;
}
.width-domocilio{
  width: 90%;
}
.btn-enviar{
  font-size: 16px;
  background-color: var(--blue);
  padding: 1vh 5vw;
  border-radius: 5px;
  border: 2.5px solid var(--blue);
  transition: 0.4s;
}
.btn-enviar:hover{
  background-color: var(--white);
  color: var(--black);
  transition: 0.4s;
}
.cargar_archivo{
  display: flex;
  gap: 1rem;
}
.generos{
  display: flex;
  gap: 1rem;
}
.genero{
  display: flex;
  gap: .3rem;
}
.militancia, .contenedor-dni{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.input-error{
  border: solid 2px var(--red);
  padding: .4rem;
}

/* PAG ADMIN */
.noesta{
  display: none;
}
.esta{
  display: block;
}
.pag-admin{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.bloque-usuarios-Admin{
  align-self: center;
  display: flex;
  gap: 100px;
  height: 75vh;
  align-items: center;
}
.agregar-administrador{
  margin-right: 5vw;
  display: flex;
  justify-content: flex-end;
}
.cargar-usuarios-admin, .direccionAregistradas{
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.titulos-card-admin{
  text-align: center;
}
.btns-cargar-usuarios{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.btn-individual, .btn-lote, .btn-registrados{
  background-color: var(--blue);
  padding: .5rem 1rem;
  color: var(--black);
  border-radius: 5px;
  border: 3px solid var(--blue);
  font-weight: 500;
  font-size: 18px;
  transition: .3s;
  text-decoration: none;
  text-align: center;
}
.mas-agregar{
  margin-left: .7rem;
  font-size: 20px;
}
.mas-agregar>svg{
  align-self: center;
}
.btn-individual:hover, .btn-lote:hover, .btn-registrados:hover{
  background-color: var(--white);
  transition: .3s;
}
.btn-agregar-admin{
  display: flex;
  border: 2px solid var(--blue);
  background-color: #ffffff;
  color: var(--black);
  font-size: 18px;
  border-radius: 5px;
  padding: .5rem 1rem;
  align-items: center;
  transition: .3s;
  text-decoration: none;
}
.btn-agregar-admin:hover{
  background-color: var(--blue);
  transition: .3s;
}

/* Registrar Admin */
.cont-registrar-admin{
  display: flex;
  justify-content: center;
}
.form-registrarse-admin{
  width: 50vw;
}

/* Responsive */
@media (max-width: 1270px){
  .contenedor-cards {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
@media (max-width: 1050px){
  .fondo-inicio{
    width:35vw;
  }
  .input-inicio {
    width: 33vw;
  }
  .btn-inicio{
    width: 36vw;
  }
  .btn-crear-cuenta {
    width: 33vw;
  }
}
@media (max-width: 943px){
  .form-registrarse{
    width: fit-content;
    box-shadow: none;
    margin: 0;
  }
  .btn-enviar{
    margin-top: 3vh;
  }
}
@media (max-width: 859px){
  .contenedor-cards {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 841px){
  .contenedor-domicilio, .cargar_archivo{
    flex-direction: column;
  }
  .width-domocilio{
    width: 100%;
  }
}
@media (max-width: 780px){
  .bloque-usuarios-Admin{
    flex-direction: column;
    gap: 40px;
    height: 69vh;
    margin-top: 10vh;
  }
  .cargar-usuarios-admin, .direccionAregistradas {
    padding: 2rem;
  }
}
@media (max-width: 605px){
  .fondo-inicio{
    width:52vw;
  }
  .titulo-inicio{
    font-size: 18px;
  }
  .input-inicio {
    width: inherit;
  }
  .input-inicio-txt{
    font-size: 14px;
  }
  .btn-crear-cuenta {
    width: 50vw;
    font-size: 14px;
  }
  .btn-inicio {
    width: 56vw;
    font-size: 14px;
  }
  .input_mediano{
    width: 100%;
  }
  .titulo-registro{
    font-size: 28px;
    margin-bottom: 1vh;
  }
  .contenedor-cards {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .input-buscar{
    width: 98% !important;
  }
}
@media (max-width: 469px){
  .input_grande{
    width: 100%;
  }
}
@media (max-width: 360px){
  .fondo-inicio, .btn-crear-cuenta {
    width: 62vw;
  }
  .btn-inicio{
    width: 69vw;
  }
}

