:root{
    --white:#ffffff;
    --black:#333333;
    --blue:#37BBED;
    --gray:#f3f3f3;
    --dark-blue:#37bced7d;
}
.cont-contenedor-cards{
    display: flex;
    justify-content: center;
    margin: 4vh 0;
    flex-direction: column;
}
.contenedor-cards{
    margin: 0 3vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    flex-wrap: wrap;
}
.card-usuarios{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #333333eb;
/*     box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25); */
}
.cont-card-foto{
    display: flex;
    justify-content: space-between;
}
.card-foto{
    background-color: gray;
    width: 7vw;
    height: 14vh;
    border-radius: 0.5rem;
}
.negrita{
    font-weight: 500;
}

/* Registradas */
.cont-agregar{
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
.agregar{
    width: 2em;
    height: 2em;
    color: var(--blue) ;
    transition: .5s;
    align-self: center;
    transition: .5s;
}
.agregar:hover {
    color: var(--black);
    transition: .5s;
}
.cont-buscador{
    padding: 0 3vw; 
    box-shadow: none; 
    border-radius: 0;

}
.buscador{
    display: flex;
    gap: 15px
}
.input-buscar{
    width: 25%;
}
.text-filtrar{
    font-weight: 600;
}
/* Usuario */
.contenedor-usuario{
    display: flex;

}
.usuario-cont{
    width: 100%;
    gap: 1rem;
    margin: 5vh ;
}
.titulo{
    font-size: 18px;
}
.informacion{
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.texto-info{
    text-decoration: underline;
    width: 100%;
    padding: 0 0.5rem
}
.serv-usuario{
    margin: 5vh 5vh 0 0;
}

/*form usuario*/
.cont-titulo{
    display: flex;
    gap: 10px;
}
.input-perfil{
    display: flex;
    justify-content: space-between;
}
.editor{ 
    box-shadow: none;
    margin: 0;
    padding: 0;
    width: 85%;
}

/* Administrador */
.margen-servicios{
    margin-top: 2vh;
}
.cont-serv-linea{
    padding: .5rem 0;
}
.cont-admin-servicios{
    display: flex;
    margin: 2rem;
    gap: 2rem;
}
.usuario-cont-admin, .contenedor-usuario-admin{
    width: 100%;
}
.card-servicios{
    border-radius: 10px;
    border: 1px solid #333333eb;
    height: fit-content;
    padding: 1rem;
}
.titulo-servicios{
    text-align: center;
}
.servicios{
    box-shadow:none;
    padding: 0;
    margin-bottom: 0;
}
.admin-servicio{
    display: flex;
    justify-content: space-between;
}
.iconos-edicion{
    display: flex;
    gap: 0.5rem
}
.linea{
    height: 1px;
    background-color: var(--black);
}
.btn-agregar{
    transition: .3s;
    background-color: var(--blue);
    font-weight: 600;
    padding: .7rem 0;
}
.btn-agregar:hover{
    transition: .3s;
    background-color: var(--dark-blue);
}
div:where(.swal2-icon).swal2-warning {
    border-color: #ebc418 !important;
    color: #ebc418 !important;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: var(--blue) !important;
    color: var(--black) !important;
}
